/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------------------*/

/* Шрифты */

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Medium.woff2') format('woff2'),
    url('Montserrat-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.woff2') format('woff2'),
    url('Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/*--------------------*/

body {
  width: 1400px;
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  background-color: #EFE6E4;
  color: #533738;
}

.nav__item-link {
  font-size: 16px;
  line-height: 20px;
  color: #533738;
}

.main-header {
  background-image: url('./img/main-background.jpg');
  background-size: cover;
}

.advantages__title {
  margin-bottom: 20px;
  font-size: 50px;
  line-height: 62px;
}

.advantages__description {
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 30px;
}

.prime-button {
  display: block;
  box-sizing: border-box;
  width: 310px;
  height: 74px;
  padding: 25px 66px;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  background-color: #CC8B86;
  color: #533738;
}

.about-us__title {
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.about-us__content-text {
  margin-bottom: 30px;
  font-size: 18px;
  line-height: 30px;
}

.about-us__content-text:last-child {
  margin-bottom: 0;
}

.about-us__content-text-advantages {
  font-size: 18px;
  line-height: 30px;
}

.achievements__container {
  padding: 87px 63px 69px;
  margin-bottom: 67px;
  background-color: #8D7370;
}

.achievements__list {
  display: grid;
  justify-content: space-between;
  grid-template-columns: 1fr 1fr 1fr;
}

.achievements__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
  font-size: 30px;
  line-height: 37px;
  text-transform: uppercase;
  color: #ffffff;
}

.achievements__item:not(:first-child) {
  margin-left: 56px;
}

.achievements__item-number {
  display: block;
  margin: 0 auto;
  margin-bottom: 8px;
  font-size: 50px;
  line-height: 62px;
}

.example-works__wrap {
  display: grid;
  grid-template-columns: 488px 1fr;
  column-gap: 20px;
  margin-bottom: 30px;
}

.example-works__container {
  padding: 0 100px;
  margin-bottom: 40px;
}

.example-works__title {
  margin-bottom: 40px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.example-works__wrap-image {
  display: grid;
  grid-template-columns: 1fr 488px;
  column-gap: 20px;
}

.room__container {
  padding: 86px 35px 122px;
  background-color: rgba(100, 72, 69, 0.8);
}

.room {
  background-image: url("./img/bedroom.jpg");
  background-size: 488px 451px;
}

.room__title {
  margin-bottom: 18px;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #FFFFFF;
}

.room__description {
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
}

.example-works__button {
  padding-right: 71px;
  font-size: 30px;
  line-height: 37px;
  background-color: inherit;
  background-image: url("./img/show-more-arrow.svg");
  background-repeat: no-repeat;
  background-position: right center;
  color: #533738;
}

.example-works__button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 65px;
}

.team__container {
  background-color: #E2C4BA;
}

.team__title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 50px;
  margin-bottom: 41px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.members {
  padding: 0 181px;
  margin-bottom: 35px;
}

.members__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 38px;
}

.members__item-description {
  font-size: 18px;
  line-height: 30px;
}

.members__item-photo {
  margin-bottom: 10px;
}

.team__skills-title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 43px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.skills {
  padding: 0 100px 80px;
  margin-bottom: 65px;
}

.skills__list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  list-style: none;
}

.skills__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: auto;
}

.skills__item-number {
  display: block;
  position: relative;
  z-index: 10;
  width: 70px;
  height: 70px;
  margin-bottom: 20px;
  border-radius: 50%;
  font-weight: 500;
  font-size: 30px;
  line-height: 70px;
  text-align: center;
  background-color: #8D7370;
  color: #FFFFFF;
}

.skills__item-description {
  font-size: 18px;
  line-height: 30px;
  text-align: center;
}

.reviews__container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 182px;
  margin-bottom: 65px;
}

.reviews__button {
  width: 72px;
  height: 72px;
  border-radius: 50px;
  background-color: #CC8B86;
}

.reviews__button--prev {
  margin-right: 29px;
  position: relative;
  margin-bottom: 26px;
}

.reviews__button--prev::after {
  content: "";
  position: absolute;
  display: block;
  top: 39%;
  left: 24%;
  width: 36px;
  height: 16px;
  background-image: url("./img/arrow-button-reviews.svg");
  background-repeat: no-repeat;
  transform: rotate(180deg);
}

.reviews__button--next {
  position: relative;
  margin-bottom: 25px;
}

.reviews__button--next::before {
  content: "";
  position: absolute;
  display: block;
  top: 38%;
  left: 27%;
  width: 36px;
  height: 16px;
  background-image: url("./img/arrow-button-reviews.svg");
  background-repeat: no-repeat;
}

.reviews__text-container {
  width: 407px;
  margin-right: 20px;
}

.reviews__image-container {
  width: 407px;
  margin-right: 29px;
}

.reviews__image-top {
  margin-bottom: 24px;
}

.reviews__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
  margin-left: 19px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
}

.reviews__text {
  margin-bottom: 28px;
  font-size: 18px;
  line-height: 30px;
}


.reviews__text-author {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
}

.feedback {
  background-color: #8D7370;
}

.feedback__wrapper {
  display: flex;
}

.feedback__form-container {
  width: 51%;
  padding: 50px 20px 186px 182px;
}

.feedback__form {
  display: flex;
  flex-direction: column;
}

.feedback__form-title {
  margin-bottom: 19px;
  font-size: 40px;
  line-height: 50px;
  text-transform: uppercase;
  color: #ffffff;
}

.feedback__form-field--top {
  margin-bottom: 35px;
}

.feedback__form-field--bottom {
  margin-bottom: 31px;
}

.feedback__form-description {
  margin-bottom: 47px;
  font-size: 18px;
  line-height: 30px;
  color: #FFFFFF;
  opacity: 0.6;
}

.feedback__form-input {
  height: 35px;
  width: 508px;
  border-bottom: 1px solid #FFFFFF;
  background-color: #8D7370;
}

.feedback__form-input::placeholder {
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  color: #F6EDE9;
}

.map__container {
  width: 50%;
}

.main-footer__container {
  padding: 31px 100px;
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
}

.contacts__item {
  font-size: 18px;
  line-height: 30px;
}

.contacts__item:first-child {
  margin-right: 42px;
}

.contacts__item:last-child {
  margin-left: auto;
}

.page-body {
  display: flex;
  flex-direction: column;
}


.main-header {
  flex-grow: 1;
}

.nav__list {
  display: flex;
  flex-wrap: wrap;
}

.nav__container {
  padding: 35px 102px 90px 98px;
}

.advantages__container {
  padding: 2px 682px 168px 184px;
}


.nav__item:not(:last-child) {
  margin-right: 29px;
}

.nav__item:last-child {
  margin-left: 5px;
}

.nav__item-link-logo {
  margin-right: 61px;
}

.about-us__container {
  padding: 65px 182px 19px;
}

.about-us__title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;
}

.about-us__content-wrapper {
  display: flex;
}

.about-us__content-text-wrapper {
  width: 51%;
}

.about-us__content-image {
  margin-right: 63px;
}